caption {
    font-size: large;
    color: blue;
    font-weight: bolder;
}
th {
    background-color:red;
    color: white;
}
tr {
    text-align: center;
    background-color: yellow;
}
button {
    background-color: green;
    color: white;
}
th.so {
    color:green;
}