* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

section {
    margin: 0 1rem 36px 1rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1rem 1rem 1rem 0rem;
}

ul,ol {
    margin-left: 4rem;
}
.form-group {
    margin-bottom: 0.5rem;
}

.form-label {
    display: inline-block;
    padding: 10px 0;
    width: 120px;
}

.form-control {
    display: inline-block;
    padding: 10px;
    width: 240px;
    border: none;
    box-shadow: 0px 0px 1px 1px #5f5f5f;
}

/* 정상 입력인 경우 */
.valid {
    box-shadow: 0px 0px 2px 1px #57ec57;
}

.valid-msg {
    display: block;
    color: #57ec57;
    font-size: smaller;
    margin-top: 6px;
}

/* 비정상 입력인 경우 */
.invalid {
    box-shadow: 0px 0px 2px 1px #ec3030;
}

.invalid-msg {
    display: block;
    color: #ec3030;
    font-size: smaller;
    margin-top: 6px;
}

.rgb-code {
    display: inline-block;
    margin: 0 12px;
}

.color-picker {
    display: inline-block;
    width: 300px; height: 50px;
}